h1 {
    color:#002DFF;
    font-family: 'Lobster', cursive;
}
p {
    color: #002DFF;
    font-family: 'Dancing Script', cursive;
}
body {
    background-image: linear-gradient(to bottom right, rgb(0, 255, 242), rgb(255, 0, 212));
    font-family: 'Dancing Script', cursive;
  
}
h2 {
    color:rgb(255, 0, 212)
}